body {
    background-color: rgb(249, 235, 215);

}

/*  flex , justify-contain ,  */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#padding-1 {
    border-radius: 10px;
}

#emg-1 {
    border-radius: 10px;
}

.font-size {
    font-style: italic;
    font-size: 18px;
}